<!DOCTYPE html>
<html>
<head>
	<title>Sinestezi</title>
	<link rel="stylesheet" href="../public/css/streamScreen.css"/>
</head>
<body>
	<div id="topBar" class="top">
		<div class="topItem">
		</div>
		<div class="topItem" style="margin-top:10px;">
			<a href="/"><img src="../public/images/littleLogo.png" role="icon" /></a>
		</div>
		<div class="topItem">
            <form action="/home/search" method="POST" id="searchForm">
			    <input type="name" name="search" id="searchInput" placeholder="Search">
                <button type="submit" id="searchButton"><img src="../public/images/search.png" role="icon" /></button>
			</form>
        </div>
	</div>
	<div class="top"></div>
	<div id="mainScreen" style="height: 94vh">
		<div style="width:30%;min-width: 215px;">
			<div id="littleProfile">
			<div style="margin-top: 10%;">
			<a href="/users/<%=user.nick%>" style="cursor: pointer;">
				<div class="profileName"><%= user.name %></div>
				<div class="profileNick">@<%= user.nick %></div>
			</a>
			</div>
			<div style="margin-top: 50px;">
				<form action="/home/share" method="POST" id="shearingForm" style="display:flex; flex-direction:column; align-items:center">
					<textarea name="contentOfSharing" placeholder="Talk about something..." id="sharingBox"></textarea>
			    	<div id="sharingBoxBottom">
						<div class="boxItem"><input type="color" name="colorSelector" value="<%=(user.posts.length != 0 )?user.posts[user.posts.length-1].color:'#E91E62'%>" style="background:transparent;"/></div>
						<div class="boxItem">
							<button id="shareButton" type="submit">
								<img src= "../public/images/post.svg" style="width:25px;"/>
							</button>
						</div>
					</div>
				</form>
			</div>
			<hr class="littleProfileLine">
			<div class="postsBanner">
			POSTS
			</div>
			<div class="profilePosts">
				<% for(let i = user.posts.length - 1; 0 <= i ; i--){%>
					<div class="post" style="border-color:<%=user.posts[i].color%>;">
						<div class="topOfBox">
							<a href="/users/<%=user.nick%>">
								<div>
									<div class="boxName"><%= user.name%></div>
									<div class="boxNick">@<%=user.nick%></div>
								</div>        
							</a>
							<div class="postDate"><%= user.posts[i].simpleDate%></div>
						</div>
							<div class="postContent"><%= user.posts[i].content %></div>
							<hr class="postLine" style="background-color:<%=user.posts[i].color%>;">
							<div class="postBottom">
								<div class="likeCounter boxItem">
								<a href="/home/<%=user.posts[i]._id%>"><%= user.posts[i].likes.length %> Likes</a></div>
								<div class="boxItem">
									<a href="/home/delete/<%=user.posts[i]._id%>">
										<img src= "../public/images/delete.svg" style="width:18px;"/>
									</a>
								</div>
							</div>
					</div>
				<%}%>
			</div>
			<hr class="littleProfileLine">
			<div style="text-align:center;">
			<a href="/logout"><img src= "../public/images/logout.svg" style="width:18px;"/></a>
			</div>
		</div>
		</div>
		<div style="width: 70%; background-color: #111111;">
			<div style="position: fixed; width: 70%; height: 94vh;">
            	<%- body %>
			</div>
        </div>
	</div>
</body>
</html>