<div class="post detailPost" style="border-color: <%=post.color%>">
			<div class="topOfBox">
				<a href="/users/<%=post.author.nick%>" style="cursor: pointer;">
					<div>
						<div class="boxName"><%= post.author.name %></div>
						<div class="boxNick">@<%= post.author.nick %></div>
					</div>        
            	</a>
				<div class="postDate"><%= post.simpleDate%></div>
			</div>
			<div class="postContent"><%= post.content %></div>
			<hr class="postLine" style="background-color:<%=post.color%>;">
			<div class="postBottom">
				<div class="likeCounter boxItem"><%= post.likes.length %> Likes</div>
				<div class="boxItem">
					<%if(post.author.nick != user.nick){%>
						<%if(!post.likes.includes(user.nick)){%>
						<a href="/home/like/<%=post._id%>">
							<img src= "../public/images/star.svg" style="width:18px;"/>
						</a>
						<%}else{%>
						<a href="/home/unlike/<%=post._id%>">
							<img src= "../public/images/activeStar.svg" style="width:18px;"/>
						</a>
						<%}%>
					<%}else{%>
						<a href="/home/delete/<%=post._id%>">
							<img src= "../public/images/delete.svg" style="width:18px;"/>
						</a>
					<%}%>
				</div>
			</div>
</div>
<div class="post likesBanner" style="border-color:<%=post.color%>">
Likes
</div>
<div id="likes">
<% for(let i = 0; i < likeResults.length; i++){%>
    <div class="miniUserBox" style=" width:400px; border-color:<%=(likeResults[i].posts.length != 0 )?likeResults[i].posts[likeResults[i].posts.length-1].color:'black'%>;">
       <div class="topOfBox">
            <a href="/users/<%=likeResults[i].nick%>" style="cursor: pointer;">
                <div>
                    <div class="boxName"><%=likeResults[i].name %></div>
                    <div class="boxNick">@<%=likeResults[i].nick %></div>
                </div>        
            </a>
            <%if(likeResults[i].nick != user.nick){
                if(!user.followings.includes(likeResults[i].nick)){
                %>
                <a href="/users/follow/<%=likeResults[i].nick%>"><button class="followingButton" style="background-color: green;">Follow</button></a>
                <%}else{%>
                <a href="/users/unfollow/<%=likeResults[i].nick%>"><button class="followingButton" style="background-color: red;">Unfollow</button></a>
                <%}%>
            <%}%>
        </div>
        <div style="color:white;margin-top:10px;"><%=likeResults[i].bio %></div>
    </div>
<%}%>
</div>