<div style="height:92.8vh;overflow:auto">
    <div style="margin-top:20px;">
        <div class="profileName"><%=profileOwner.name%></div>
        <div class="profileNick">@<%=profileOwner.nick%></div>
    </div>
    <div class="bioBox" style="border-color: <%=(profileOwner.posts.length != 0 )?profileOwner.posts[profileOwner.posts.length-1].color:'#E91E62'%>;">
        <div class="bioBanner">
            <div style="display:inline; ">BIO</div>
        </div>
        <div style="margin-top:10px;color:white;text-align:center"><%=profileOwner.bio%></div>
    </div>
    <div class="followBox" style="border-color: <%=(profileOwner.posts.length != 0 )?profileOwner.posts[profileOwner.posts.length-1].color:'#E91E62'%>;">
        <div style="color:white;text-align:center;font-size:12px">
             <%=profileOwner.followers.length%> Followers | <%=profileOwner.followings.length%> Followings
        </div>
        <%if(!user.followings.includes(profileOwner.nick)){%>
                <a href="/users/follow/<%=profileOwner.nick%>"><button class="followingButton" style="background-color: green;">Follow</button></a>
                <%}else{%>
                <a href="/users/unfollow/<%=profileOwner.nick%>"><button class="followingButton" style="background-color: red;">Unfollow</button></a>
        <%}%>
    </div>
    <div class="postsBanner" style="width: 60%;height:30px;background-color: black;">
			POSTS
	</div>
    <div class="profilePosts" style="width: 60%; height:50%; background-color:black;">
        <% for(let i = profileOwner.posts.length - 1; 0 <= i ; i--){%>
            <div class="post" style="border-color: <%=profileOwner.posts[i].color%>">
			<div class="topOfBox">
				<a href="/users/<%=profileOwner.nick%>"">
					<div>
						<div class="boxName"><%= profileOwner.name %></div>
						<div class="boxNick">@<%= profileOwner.nick %></div>
					</div>        
            	</a>
				<div class="postDate"><%= profileOwner.posts[i].simpleDate%></div>
			</div>
			<div class="postContent"><%= profileOwner.posts[i].content %></div>
			<hr class="postLine" style="background-color:<%=profileOwner.posts[i].color%>;">
			<div class="postBottom">
				<div class="likeCounter boxItem">
                <a href="/home/<%=profileOwner.posts[i]._id%>"><%= profileOwner.posts[i].likes.length %> Likes</a></div>
				<div class="boxItem">
                    <%if(!profileOwner.posts[i].likes.includes(user.nick)){%>
						<a href="/home/like/<%=profileOwner.posts[i]._id%>">
							<img src= "../public/images/star.svg" style="width:18px;"/>
						</a>
						<%}else{%>
						<a href="/home/unlike/<%=profileOwner.posts[i]._id%>">
							<img src= "../public/images/activeStar.svg" style="width:18px;"/>
						</a>
					<%}%>
                </div>
			</div>
		</div>
        <%}%>
	</div>
</div>