<div style="height:92.8vh;overflow:auto">
<p id="searchBanner">There is <%=results.length%> results</p>
<% for(let i = 0; i < results.length; i++){%>
    <div class="miniUserBox" style="border-color:<%=(results[i].posts.length != 0 )?results[i].posts[results[i].posts.length-1].color:'black'%>;">
       <div class="topOfBox">
            <a href="/users/<%=results[i].nick%>">
                <div>
                    <div class="boxName"><%=results[i].name %></div>
                    <div class="boxNick">@<%=results[i].nick %></div>
                </div>        
            </a>
            <%if(results[i].nick != user.nick){
                if(!user.followings.includes(results[i].nick)){
                %>
                <a href="/users/follow/<%=results[i].nick%>"><button class="followingButton" style="background-color: green;">Follow</button></a>
                <%}else{%>
                <a href="/users/unfollow/<%=results[i].nick%>"><button class="followingButton" style="background-color: red;">Unfollow</button></a>
                <%}%>
            <%}%>
        </div>
        <div style="color:white;margin-top:10px;"><%=results[i].bio %></div>
    </div>
<%}%>
</div>