<div style="height:92.8vh;overflow:auto">
    <div style="margin-top:20px;">
        <div class="profileName"><%=user.name%></div>
        <div class="profileNick">@<%=user.nick%></div>
    </div>
    <div class="bioBox" style="border-color: <%=(user.posts.length != 0 )?user.posts[user.posts.length-1].color:'#E91E62'%>;">
        <div class="bioBanner">
            <div style="display:inline; ">BIO</div>
        </div>
        <form action="/users/bioupdate" method="POST" class="bioUpdateForm">
					<textarea name="bioUpdate" id="bioUpdateTextArea"><%=user.bio%></textarea>
			    	<div id="bioUpdateBottom">
					<div class="boxItem">
					<button style="background:none; border:none; outline:0; height:30px" type="submit">
					<img src= "../public/images/save.svg" style="width:25px;"/></button>
					</div>
					</div>
				</form>
    </div>
    <div class="followBox" style="border-color: <%=(user.posts.length != 0 )?user.posts[user.posts.length-1].color:'#E91E62'%>;">
        <div style="color:white;text-align:center;font-size:12px">
             <%=user.followers.length%> Followers | <%=user.followings.length%> Followings
        </div>
    </div>
    <div class="postsBanner" style="width: 60%;height:30px;background-color: black;">
			POSTS
	</div>
    <div class="profilePosts" style="width: 60%; height:40%; background-color:black;">
        <% for(let i = user.posts.length - 1; 0 <= i ; i--){%>    
            <div class="post" style="border-color: <%=user.posts[i].color%>">
			<div class="topOfBox">
				<a href="/users/<%=user.nick%>" style="cursor: pointer;">
					<div>
						<div class="boxName"><%= user.name %></div>
						<div class="boxNick">@<%= user.nick %></div>
					</div>        
            	</a>
				<div class="postDate"><%= user.posts[i].simpleDate%></div>
			</div>
			<div class="postContent"><%= user.posts[i].content %></div>
			<hr class="postLine" style="background-color:<%=user.posts[i].color%>;">
			<div class="postBottom">
				<div class="likeCounter boxItem">
                <a href="/home/<%=user.posts[i]._id%>"><%= user.posts[i].likes.length %> Likes</a></div>
				<div class="boxItem">
                    <a href="/home/delete/<%=user.posts[i]._id%>">
										<img src= "../public/images/delete.svg" style="width:18px;"/>
					</a>
                </div>
			</div>
		</div>
        <%}%>
	</div>
</div>