<div style="height:100%;overflow:auto">
	<% for(let i = 0; i < allPosts.length; i++){%>
		<div class="post streamPost" style= "border-color:<%=allPosts[i].color%>">
			<div class="topOfBox">
				<a href="/users/<%=allPosts[i].author.nick%>">
					<div>
						<div class="boxName"><%= allPosts[i].author.name %></div>
						<div class="boxNick">@<%= allPosts[i].author.nick %></div>
					</div>        
            	</a>
				<div class="postDate"><%= allPosts[i].simpleDate%></div>
			</div>
			<div class="postContent"><%= allPosts[i].content %></div>
			<hr class="postLine" style="background-color:<%=allPosts[i].color%>;">
			<div class="postBottom">
				<div class="likeCounter boxItem">
					<a href="/home/<%=allPosts[i]._id%>"><%= allPosts[i].likes.length %> Likes</a>
				</div>
				<div class="boxItem">
					<%if(allPosts[i].author.nick != user.nick){%>
						<%if(!allPosts[i].likes.includes(user.nick)){%>
						<a href="/home/like/<%=allPosts[i]._id%>">
							<img src= "../public/images/star.svg" style="width:18px;"/>
						</a>
						<%}else{%>
						<a href="/home/unlike/<%=allPosts[i]._id%>">
							<img src= "../public/images/activeStar.svg" style="width:18px;"/>
						</a>
						<%}%>
					<%}else{%>
						<a href="/home/delete/<%=allPosts[i]._id%>">
							<img src= "../public/images/delete.svg" style="width:18px;"/>
						</a>
					<%}%>
				</div>
			</div>
		</div>
	<%}%>
</div>